<div class="page-header">
    <h1>Number only text field</h1>

    <div class="row">
        <div class="col-md-6 show-grid">
            <input type="text" number-only-input class="intTextBox" ng-model="numValue">
        </div>
        
        <div class="col-md-6">
            <p>
                This text field only allows positive numbers.  Instead of showing an error this input just blocks all invalid values.  You can use it like this:
            </p>
            
            <pre><code>&lt;input type="text" number-only-input class="intTextBox" ng-model="numValue"&gt;</code></pre>
        </div>
    </div>
</div>