<div class="page-header">
    <h1>OAuth2</h1>

    <div class="row">
        <div class="col-md-6 show-grid">
            <h3>Try it out</h3>
            <p>
                This little sample works against Access Review and OSP, but this library works against generic servers as well.
            </p>

            <ng-form name="myForm">
                <div class="form-group">
                    <h4>Your client ID</h4>
                    <input type="text" class="form-control" ng-model="clientid" placeholder="iac2" required>
                </div>

                <div class="form-group">
                    <h4>The location of your Access Review server</h4>
                    <input type="text" class="form-control" ng-model="apiserver" placeholder="http://yourserver:8080" required>
                </div>

                <div class="form-group">
                    <h4>The location of your OSP server</h4>
                    <input type="text" class="form-control" ng-model="authserver" placeholder="http://yourserver:8080" required>
                </div>

                <div class="form-group">
                    <button type="button" class="btn btn-default" ng-click="doGetData()" ng-disabled="myForm.$invalid">Get some data</button>
                </div>
            </ng-form>

            <div ng-if="userName" class="alert alert-warning dataResults">
                <p>
                    Hi there {{userName}}
                </p>
                <a ng-click="doLogout()" class="logoutLink">Logout</a>
    
                <div class="subtext">
                    Here are some users from your AR server sorted alphabeticaly by name.
                </div>
                
                <p>
                    <span ng-repeat="user in users" class="user">
                        {{$index + 1}}. {{user.name.attributeValue}}<br />
                    </span>
                </p>
            </div>
        </div>
        
        <div class="col-md-6">
            <p>
                The OAuth2 plugin provides OAuth2 support for making REST calls from Angular.  Use it like this:
            </p>
            
            <pre><code>gromit.ClientId = 'myClientId';
gromit.AuthUrl = 'http://myserver/osp/a/idm/auth/oauth2/grant';
gromit.AuthLogoutUrl = 'http://myserver/osp/a/idm/auth/app/logout'; 
gromit.get('http://myserver/myapi', $http, function(data) {
    $scope.data = data;
});</code></pre>

            <p>
                This call will handle all authentication and login requests and then return the data from the REST call.  It supports the following functions:
            </p>
            
            <p>
                <code>gromit.get(url, http, successCallback, errorCallback, unknownErrorCallback)</code> 
            </p>
            
            <p>
                <code>gromit.post(url, http, data, successCallback, errorCallback, unknownErrorCallback, headers)</code> 
            </p>
            
            <p>
                <code>gromit.put(url, http, data, successCallback, errorCallback, unknownErrorCallback)</code> 
            </p>
            
            <p>
                <code>gromit.del(url, http, successCallback, errorCallback, unknownErrorCallback)</code> 
            </p>
            
            <p>
                The sample on this page works against AR to get a count of the objects on the server, but this plugin can work against any OAuth2 compliant service.  It works by showing an iFrame with the login page so you don't lose any of the data on the current page.
            </p>
            
            <p>
                This plugin should be called in the place of the <code>$http</code> object everywhere you want support for OAuth authentication.  The plugin handles all of the authentication the save all requests which happen during the authentication process so they can be replayed after the authentication is complete.  The result is that the authentication is completely transparent to the calling code.
            </p>
        </div>
    </div>
</div>