<div class="page-header">
    <h1>OAuth2</h1>

    <div class="row">
        <div class="col-md-6 show-grid">
            <h3>Try it out</h3>
                    
            <ng-form name="myForm">
                <div class="form-group">
                    <h4>Your client ID</h4>
                    <input type="text" class="form-control" ng-model="secData.clientid" placeholder="iac2" required>
                </div>

                <div class="form-group">
                    <h4>The location of your Access Review server</h4>
                    <input type="text" class="form-control" ng-model="secData.apiserver" placeholder="http://yourserver:8080" required>
                </div>

                <div class="form-group">
                    <h4>The location of your OSP server</h4>
                    <input type="text" class="form-control" ng-model="secData.authserver" placeholder="http://yourserver:8080" required>
                </div>

                <div class="form-group">
                    <button type="button" class="btn btn-default" ng-click="doGetData()" ng-disabled="myForm.$invalid">Get some data</button>
                </div>
            </ng-form>

            <div ng-if="userName" class="alert alert-warning dataResults">
                <p>
                    Hi there {{userName}}
                </p>
                <a ng-click="doLogout()" class="logoutLink">Logout</a>
    
                <div class="subtext">
                    Here are some users from your AR server sorted alphabeticaly by name.
                </div>
                
                <p>
                    <span ng-repeat="user in users" class="user">
                        {{$index + 1}}. {{user.name.attributeValue}}<br />
                    </span>
                </p>
            </div>
        </div>
        
        <div class="col-md-6">
            
            <h3>Configuration</h3>
            
            <p>
                This sample works against Access Review and OSP.  You must add the following properties to the global configuration of your Access Review server to make this sample work.
            </p>
            
            <pre><code>com.netiq.iac2.clientID = iac2
com.netiq.iac2.clientPass = secret
com.netiq.iac.CORSclient = http://&lt;your server address&gt;:8081
com.netiq.iac2.redirect.url = http://&lt;your server address&gt;:8081/oauth.html</code></pre>
            
            <p>
                When you're ready to write your own code you can use it like this:
            </p>
            
            <pre><code>gromit.ClientId = 'myClientId';
gromit.AuthUrl = 'http://myserver/osp/a/idm/auth/oauth2/grant';
gromit.AuthLogoutUrl = 'http://myserver/osp/a/idm/auth/app/logout'; 
gromit.get('http://myserver/myapi', $http, function(data) {
    $scope.data = data;
});</code></pre>

            <p>
                This call will handle all authentication and login requests and then return the data from the REST call.  It supports the following functions:
            </p>
            
            <p>
                <code>gromit.get(url, http, successCallback, errorCallback, unknownErrorCallback)</code> 
            </p>
            
            <p>
                <code>gromit.post(url, http, data, successCallback, errorCallback, unknownErrorCallback, headers)</code> 
            </p>
            
            <p>
                <code>gromit.put(url, http, data, successCallback, errorCallback, unknownErrorCallback)</code> 
            </p>
            
            <p>
                <code>gromit.del(url, http, successCallback, errorCallback, unknownErrorCallback)</code> 
            </p>
            
            <p>
                The sample on this page works against AR to get a count of the users on the server, but this library can work against any OAuth2 compliant service.  It works by showing an iFrame with the login page so you don't lose any of the data on the current page.
            </p>
            
            <p>
                This plugin should be called in the place of the Angular <code>$http</code> object everywhere you want support for OAuth authentication.  Gromit handles all of the authentication the save all requests which happen during the authentication process so they can be replayed after the authentication is complete.  The result is that the authentication is completely transparent to the calling code.
            </p>
        </div>
    </div>
</div>