.gromitContent h1 {
    margin-bottom: 1em;
}

.logoutLink { 
    margin-left: 10em;
}

.dataResults {
    position: relative;
}

.dataResults p {
    columns: 150px 2;
    -webkit-columns: 150px 2;
    -moz-columns: 150px 2;
}

.logoutLink {
    position: absolute;
    top: 5px;
    right: 5px;
}

.subtext {
    margin-top: 1.2em;
    margin-bottom: 0.8em;
}